.cardcont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
}

.card{
    width: 10rem;
    height: 15rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .2rem;
    margin: .5rem;    
    background: chartreuse;
    cursor: pointer;
}

.card a{
    font-size: 25px;
}

