.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: .5rem;
}

.numb{
    margin-bottom: 50px;
    margin-left: 60%;
    font-size: 25px;
    background: darkgoldenrod;
    border-radius: 50%;
}